<% layout('/layouts/boilerplate') %>
<%- include('../partials/navbar') %>
<!-- For adding the navbar and stuffs from the partials -->
<h1 class="text-center my-4">Product List</h1>
<div class="container">
    <div class="row">
        <% products.forEach(function(product) { %>
            <div class="col-md-4 mb-4"> <!-- 3 products per row -->
                <div class="card h-100 text-center">
                    <img src="<%= product.img %>" class="card-img-top" alt="<%= product.name %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= product.name %></h5>
                        <p class="card-text">Price: $<%= product.price %></p>
                        <p class="card-text"><%= product.desc %></p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">Buy Now</button>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
